// Records clients
.clients-listing {
  .clickable-row {
    cursor: pointer;
  }
  &__table {
    .fa-trash-alt, .fa-file-alt, .fa-edit {
      margin: 0px 2px;
      &:hover, &:focus, &:visited, &:active {
        color: none;
      }
    }
    .fa-trash-alt {
      color: #df4141;
    }
    .fa-file-alt {
      color: #21aa3f;
    }
    .fa-edit {
      color: #1283a0;
    }
  }
  &__btns{
    &:hover{}
  }
  .col {
    cursor: pointer;
  }
  &__header {
    &-col {}
  }
  &__form-actions {
    height: 100%;
  }
  &__search-input {
    border: $border;
    padding-left: 5px;
    padding-bottom: 4px;
    &:focus, &:visited, &:active {
      box-shadow: none !important;
      border: $border;
      outline: none !important;
    }
  }
  &__search-label {
    color: $primary-color;
  }
  &__search-select, &__data-number {
    border: $border;
    max-width: 100px;
    width: 120px;
    cursor: pointer;
    &:focus, &:visited, &:active {
      box-shadow: none !important;
      border: $border;
    }
  }
  &__photo-full {}
  &__data-number-wrapper {}
  &__data-number-form {}
  &__data-number {}
  &__photo-thumb {
    cursor: pointer;
  }
  &__photo-open {
    max-width: 40px;
  }
  &__not_found_text {
      color: #df4141;
  }
  &__pagination {
    .disabled {
      $opacity: 0.55;
      background-color: #dee2e6;
    }
    &-btn {
      text-align: center;
      min-width: 140px;
    }
    &-text {
      span {
        color: #000;
        &:hover {
          background-color: transparent;
          color: inherit;
        }
      }
    }
  }
}

// Modals clients
.clients-modal-delete {
  &__info{
    label, p {
      font-weight: bold;
      padding-right: 10px;
      font-size: 20px;
    }
    p {
      font-weight: normal;
    }
  }
}


// Forms clients
.clients-form {
  &__photo-thumb {
    cursor: pointer;
  }
  &__cpf_or_cnpj {
    max-width: 100px !important;
  }
  &__input-cpf-cnpj {
    max-width: 250px !important;
  }
}