# Default
*.pyc
*.bak
*.sqlite3
.pytest_cache
.tox
.Identifier
.idea/
.vscode/
**/*/__pycache__
**/*/media/
**/*/media/images/
!**/*/media/default.png
package-lock.json
poetry.lock
tmp/
temp/
venv/
htmlcov/*
.coverage
.venv/
node_modules/
.ipynb_checkpoints
.env
# **/*/media/images/

## Comment this block to send on the Heroku -----
apps/clients/migrations/
apps/clients/migrations/*_initial.py
**/*/staticfiles/
!**/*/staticfiles/.gitkeep
**/*/static/js/
**/*/static/css/
**/*/static/webfonts/
**/*/static/images/*.jpg
**/*/static/images/*.png
## ------------------------------------------------
