# Default
*.pyc
*.bak
*.sqlite3
.pytest_cache
.tox
.idea/
.vscode/
**/*/__pycache__
**/*/media/
!**/*/media/default.png
package-lock.json
poetry.lock
tmp/
temp/
venv/
.venv/
node_modules/
.ipynb_checkpoints
.env
# **/*/media/images/

## Comment this block to send on the Heroku -----
#apps/clients/migrations/*_initial.py
#**/*/staticfiles/
#!**/*/staticfiles/.gitkeep
#**/*/static/js/
#**/*/static/css/
#**/*/static/webfonts/
#**/*/static/images/*.jpg
#**/*/static/images/*.png
## ------------------------------------------------
