# Default
*.pyc
*.bak
*.sqlite3
.pytest_cache
.tox
.idea/
.vscode/
**/*/__pycache__
**/*/staticfiles/
!**/*/staticfiles/.gitkeep
package-lock.json
poetry.lock
tmp/
temp/
venv/
.venv/
node_modules/
.env
**/*/media/images/

## Comment this block to send on the Heroku -----
apps/person/migrations/*_initial.py
**/*/static/js/
**/*/static/css/
**/*/static/webfonts/
**/*/static/images/*.jpg
**/*/static/images/*.png
## ------------------------------------------------
