{% extends "base.html" %}

{% block title %} Formulary {% endblock %}

{% block head %}{% endblock %}

{% block content %}


<div class="clients-form">

  <form method="POST" id="form_client" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Forms -->
    <div class="row pb-3">
      <div class="card">
        <h5 class="card-header">Registros automáticos (Read only)</h5>
        <div class="card-body">
          <div class="row">
            {% if object.id %}
              <div class="form-group col-md-1">
                <label for="id">ID</label>
                <input type="text" class="form-control clients-form__input-entry clients-form__input-id"
                name="id" id="id" value="{{ object.id }}" maxlength="8" disabled>
              </div>
            {% endif %}

            <div class="form-group col-md-2">
              <label for="created_by_user">Criado por: </label>
              <input type="text" id="created_by_user" class="form-control" value="{{ object.created_by_user }}" disabled>
            </div>

            <div class="form-group col-md-2">
              <label for="update_by">Ultima atualização por: </label>
              <input type="text" id="update_by" class="form-control" value="{{ object.update_by }}" disabled>
            </div>

            <div class="form-group col-md-3">
              <label for="id">Data e hora da ultima atualização:</label>
              <input type="text" class="form-control" value="{{ object.update_at }}" disabled>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Dados pessoais -->
    <div class="row pb-3">
      <div class="card">
        <h5 class="card-header">Dados pessoais</h5>
        <div class="card-body">

          <div class="row pb-3">
            <div class="form-group col-md-2">
              {% if object.photo %}
                <img class="rounded-circle clients-form__photo-thumb modal__open-photo"
              src="{{ media_url }}{{ object.photo }}" alt="{{ object.photo }}">
              {% else %}
                <img class="rounded-circle clients-form__photo-thumb modal__open-photo"
              src="{{ media_url }}default.png" alt="{{ object.photo }}">
              {% endif %}

              {% if not is_details %}
              <label for="client__upload-photo" class="border p-1 rounded-2 bg-default clients-form__btn-edit-photo">
                <span class="fas fa-pencil-alt" aria-hidden="true">&nbsp;Alterar</span>
                <input id="client__upload-photo" class="form-control" type="file" accept="images/*"
                name="photo" style="display:none">
              </label>
              {% endif %}
            </div>

            <div class="form-group col-md-3">
              <label for="id_cpf_cnpj">Cliente Físico/Juridico:</label>
              <div class="input-group">
                {% if not is_details %}
                  {{ form.client_type }}
                {% else %}
                  <select name="client_type" class="form-select clients-form__client_type" id="id_client_type"  disabled>
                    <option>{{ object.get_client_type_display }}</option>
                  </select>
                {% endif %}

                {% if object.client_type == "cnpj" %}
                  <input class="form-control clients-form__input-entry clients-form__input-cpf-cnpj" type="text"
                    data-mask="00.000.000/0000-00" id="id_cpf_cnpj" name="cpf_cnpj"
                    value="{% if object.cpf_cnpj %}{{ object.cpf_cnpj }}{% endif %}" maxlength="15"
                    {% if not is_details %} placeholder="Apenas números" {% endif %} {% if is_details %} disabled {% endif %}>
                {% else %}
                  <input class="form-control clients-form__input-entry clients-form__input-cpf-cnpj" type="text"
                    data-mask="000.000.000-00" id="id_cpf_cnpj" name="cpf_cnpj"
                    value="{% if object.cpf_cnpj %}{{ object.cpf_cnpj }}{% endif %}" maxlength="15"
                    {% if not is_details %} placeholder="Apenas números" {% endif %} {% if is_details %} disabled {% endif %}>
                {% endif %}

                {% if form.errors %}
                  <small id="id_cpf_cnpj" class="form-text text-danger">{{ form.cpf_cnpj.errors }}</small>
                {% endif %}
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="name_corporate">Nome/Razão Social:</label>
              <input class="form-control clients-form__input-entry" type="text" id="id_name_corporate" name="name_corporate"
                  value="{% if object.name_corporate %}{{ object.name_corporate | title }}{% endif %}"
                  maxlength="70" required {% if is_details %} disabled {% endif %}>
            </div>

            <div class="form-group col-md-2">
              <label for="birth_date">Data de Nasc/Abert:</label>
              <input class="form-control clients-form__input-entry" type="date"
                  id="id_birth_date" name="birth_date"
                  value="{% if object.birth_date %}{{ object.birth_date|date:"Y-m-d" }}{% endif %}" maxlength="15"
                  placeholder="Apenas números" required {% if is_details %} disabled {% endif %}>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-md-2">
              <label for="rg">RG:</label>
              <input class="form-control clients-form__input-entry" type="text" id="id_rg" name="rg"
                  value="{% if object.rg %}{{ object.rg }}{% endif %}" maxlength="15" {% if is_details %} disabled {% endif %}>
              {% if form.errors %}
                <small id="id_rg" class="form-text text-danger">{{ form.rg.errors }}</small>
              {% endif %}
            </div>

            <div class="form-group col-md-3">
              <label for="email">E-Mail:</label>
              <input class="form-control clients-form__input-entry" type="email" id="id_email" name="email"
                  value="{% if object.email %}{{ object.email }}{% endif %}"
                  maxlength="130" {% if is_details %} disabled {% endif %} {% if not is_details %} placeholder="example@domain.com" {% endif %}>
              {% if form.errors %}
                <small id="id_email" class="form-text text-danger">{{ form.email.errors }}</small>
              {% endif %}
            </div>


            <div class="form-group col-md-2">
              <label for="cell_phone">Celular:</label>
              <input class="form-control clients-form__input-entry" type="text" id="id_cell_phone" name="cell_phone"
                  value="{% if object.cell_phone %}{{ object.cell_phone }}{% endif %}" data-mask="(00) 00000-0000"
                  maxlength="16" required {% if is_details %} disabled {% endif %} {% if not is_details %} placeholder="(00) 00000-0000" {% endif %}>
            </div>


            <div class="form-group col-md-2">
              <label for="phone">Telefone:</label>
              <input class="form-control clients-form__input-entry" type="text" id="id_phone" name="phone"
                  value="{% if object.phone %}{{ object.phone }}{% endif %}" data-mask="(00) 0000-0000"
                  maxlength="16" {% if is_details %} disabled {% endif %} {% if not is_details %} placeholder="(00) 0000-0000" {% endif %}>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Endereços -->
    <div class="row pb-3">
      <div class="card">
        <h5 class="card-header">Endereços</h5>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-2">
              <label for="cep">CEP:</label>
              <div class="input-group mb-3">

                <input type="text" class="form-control clients-form__input-entry" data-mask="00000-000" placeholder="00000-000"
                aria-label="00000-000" aria-describedby="search_cep" id="id_cep" name="cep"
                value="{% if object.cep %}{{ object.cep }}{% endif %}" maxlength="10" required {% if is_details %} disabled {% endif %}>

                <button class="btn btn-primary" type="button" id="search_cep" {% if is_details %} disabled {% endif %}
                  data-message="CEP Não encontrado!">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>

              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="address">Endereço:</label>
              <input class="form-control clients-form__input-entry" type="text" id="id_address" name="address"
                  value="{% if object.address %}{{ object.address | title }}{% endif %}"
                  maxlength="30" required {% if is_details %} disabled {% endif %}>
            </div>

            <div class="form-group col-md-1">
              <label for="number_address">Número:</label>
              <input class="form-control clients-form__input-entry" type="text" id="id_number_address" name="number_address"
                  value="{% if object.number_address %}{{ object.number_address | title }}{% endif %}"
                  maxlength="10" required {% if is_details %} disabled {% endif %}>
            </div>

            <div class="form-group col-md-2">
              <label for="complement_address">Complemento:</label>
              <input class="form-control clients-form__input-entry" type="text" id="id_complement_address" name="complement_address"
                  value="{% if object.complement_address %}{{ object.complement_address | title }}{% endif %}"
                  maxlength="20" required {% if is_details %} disabled {% endif %}>
            </div>


            <div class="form-group col-md-3">
              <label for="city">Cidade:</label>
              <input class="form-control clients-form__input-entry" type="text" id="id_city" name="city"
                  value="{% if object.city %}{{ object.city | title }}{% endif %} {{ city_cep }}"
                  maxlength="30" required {% if is_details %} disabled {% endif %}>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <label for="district">Bairro:</label>
              <input class="form-control clients-form__input-entry" type="text" id="id_district" name="district"
                  value="{% if object.district %}{{ object.district | title }}{% endif %}"
                  maxlength="30" required {% if is_details %} disabled {% endif %}>
            </div>
            <div class="form-group col-md-2">
              <label for="state">Estado:</label>
              {% if not is_details %}
                {{ form.state }}
              {% else %}
                <select name="state" class="form-select" id="id_state" disabled>
                  <option selected>{{ object.get_state_display }}</option>
                </select>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <h5 class="card-header">Observações</h5>
        <div class="card-body">
          <div class="form-group col">
            <textarea class="form-control clients-form__observations" name="obs" placeholder="Escreva uma observação para este Cliente"
            {% if is_details %} disabled {% endif %}>{% if object.obs %}{{ object.obs }}{% endif %}</textarea>
          </div>
        </div>
      </div>
    </div>


    <!-- Buttons -->
  <div class="row pb-1 pt-4 clients-form__header">
    <div class="col-sm-12">

      {% if not is_details %}

        <button type="submit" class="btn btn-success">
          <i class="fas fa-save"></i> Salvar
        </button>

        {% if object.id %}
          <a class="btn btn-secondary" href="{% url 'client_details' object.id %}">
            <i class="fas fa-ban"></i> Cancelar
          </a>
        {% else %}
          <a class="btn btn-secondary" href="{% url 'client_read' %}">
            <i class="fas fa-ban"></i> Cancelar
          </a>
        {% endif %}

      {% else %}

        <a class="btn btn-primary" href="{% url 'client_read' %}">
          <i class="fas fa-file-alt"></i> Clientes
        </a>

        {% if perms.clients.change_clientmodel %}
          <a class="btn btn-success" href="{% url 'client_update' object.id %}">
            <i class="fas fa-pencil-alt"></i> Editar
          </a>
        {% endif %}

        {% if perms.clients.delete_clientmodel %}
          {% if object.id %}
            <button type="button" class="btn btn-danger clients-btn-delete" data-toggle="modal"
            data-target="#confirmDeleteModal">
              <span data-target="{% url 'client_delete' object.id %}">Deletar</span>
            </button>
          {% endif %}
        {% endif %}

      {% endif %}

    </div>
  </div> <!-- End Buttons -->

  </form>

</div>

<!-- Include Modal View Photo -->
{% include 'clients/modals/photo.html' %}

<!-- Include Modal Delete Record -->
{% include 'clients/modals/delete.html' %}


{% if not is_details %}
  {% include 'clients/modals/cep_not_found.html' %}
{% endif %}

{% endblock %}