{% extends "base.html" %}
{% load i18n %}

{% block title %} Cadastro de Clientes {% endblock %}

{% block head %}{% endblock %}

{% block content %}

<!-- Loads -->
{% load client_tags %}
{% load crispy_forms_tags %}


<div class="clients-form">

  <form method="POST" id="form_client" enctype="multipart/form-data">
    {% csrf_token %}

    <p class="h2 text-center">Cadastro de Clientes<p>

    <!-- Forms -->
    <div class="row pb-3">
      <div class="card">
        <h5 class="card-header">Registros automáticos (Read only)</h5>
        <div class="card-body">
          <div class="row">
            {% if object.id %}
              <div class="form-group col-md-1">
                <label for="id">ID</label>
                <input type="text" class="form-control clients-form__input-entry clients-form__input-id"
                name="id" id="id" value="{{ object.id }}" maxlength="8" disabled>
              </div>
            {% endif %}

            <div class="form-group col-md-3">
              <label for="created_by_user">Criado por: </label>
              <input type="text" id="created_by_user" class="form-control" value="{{ object.created_by_user }}" disabled>
            </div>

            <div class="form-group col-md-3">
              <label for="update_by">Ultima atualização por: </label>
              <input type="text" id="update_by" class="form-control" value="{{ object.update_by }}" disabled>
            </div>

            <div class="form-group col-md-3">
              <label for="id">Data e hora da ultima atualização:</label>
              <input type="text" class="form-control" value="{{ object.update_at }}" disabled>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Dados pessoais -->
    <div class="row pb-3">
      <div class="card">
        <h5 class="card-header">Dados pessoais</h5>
        <div class="card-body">

          <div class="row pb-3">

            <div class="form-group col-md-2">
              {% if object.photo %}
                <img class="rounded-circle clients-form__photo-thumb modal__open-photo"
              src="{{ media_url }}{{ object.photo }}" alt="{{ object.photo | default_if_none:'' }}">
              {% else %}
                <img class="rounded-circle clients-form__photo-thumb modal__open-photo"
              src="{{ media_url }}default.png" alt="{{ object.photo }}">
              {% endif %}

              {% if not is_details %}
              <label for="client__upload-photo" class="border p-1 rounded-2 bg-default clients-form__btn-edit-photo">
                <span class="fas fa-pencil-alt" aria-hidden="true">&nbsp;Alterar</span>
                <input id="client__upload-photo" class="form-control" type="file" accept="images/*"
                name="photo" style="display:none">
              </label>
              {% endif %}
            </div>


            <div class="form-group col-md-3">
              <label>Cliente Físico/Juridico:</label>
              <div class="input-group">
                {% if is_details %}
									<select class="form-select clients-form__client_type" disabled>
										<option>{{ object.get_client_type_display }}</option>
									</select>
                {% else %}
									{{ form.client_type | as_crispy_field }}
                {% endif %}
								{% client_mask_cpf_cnpj object.client_type as mask_cpf_cnpj %}
								{% if is_details %}
									<input class="form-control clients-form__input-cpf-cnpj" type="text"
                    data-mask="{{ mask_cpf_cnpj }}" value="{{ object.cpf_cnpj | default_if_none:'' }}" disabled>
								{% else %}
									{{ form.cpf_cnpj | as_crispy_field }}
								{% endif %}
                <!-- {% if form.cpf_cnpj.errors %}
                  <small class="form-text text-danger">{{ form.cpf_cnpj.errors }}</small>
                {% endif %} -->
              </div>
            </div>

						<div class="col-md-4">
							{% if object.client_type == "cnpj" %}
								<label>Razão Social:</label>
							{% else %}
								<label>Nome:</label>
							{% endif %}
							{% if object.name_corporate and is_details %}
								<input class="form-control" type="text" value="{{ object.name_corporate | title | default_if_none:'' }}" disabled>
							{% else %}
								{{ form.name_corporate | as_crispy_field }}
							{% endif %}
						</div>

						<div class="form-group col-md-2">
							<label>Data Nasc/Abert:</label>
							{% if object.birth_date and is_details %}
								<input class="form-control" type="date" value="{{ object.birth_date | date:'Y-m-d' }}" disabled>
							{% else %}
								{{ form.birth_date | as_crispy_field }}
							{% endif %}
            </div>

          </div>

          <div class="row">
            <div class="form-group col-md-2">
              <label>Sexo:</label>
              {% if is_details %}
                <select class="form-select clients-form__sex" disabled>
                  <option value="{{ object.sex }}" selected>{{ object.get_sex_display }}</option>
                </select>
              {% else %}
                {{ form.sex | as_crispy_field }}
              {% endif %}
            </div>

            <div class="form-group col-md-2">
              <label>RG:</label>
							{% if is_details %}
              	<input class="form-control" type="text" value="{{ object.rg | default_if_none:'' }}" disabled>
							{% else %}
								{{ form.rg | as_crispy_field }}
							{% endif %}
              <!-- {% if form.errors %}
                <small id="id_rg" class="form-text text-danger">{{ form.rg.errors }}</small>
              {% endif %} -->
            </div>

            <div class="form-group col-md-3">
              <label>E-Mail:</label>
							{% if is_details %}
              	<input class="form-control" type="text" value="{{ object.email | default_if_none:'' }}" disabled>
							{% else %}
								{{ form.email | as_crispy_field }}
							{% endif %}
            </div>

            <div class="form-group col-md-2">
              <label>Celular:</label>
							{% if is_details %}
              	<input class="form-control" type="text"  data-mask="(00) 00000-0000"
								value="{{ object.cell_phone | default_if_none:'' }}" disabled>
							{% else %}
								{{ form.cell_phone | as_crispy_field }}
							{% endif %}
            </div>


            <div class="form-group col-md-2">
              <label>Telefone:</label>
							{% if is_details %}
              	<input class="form-control" type="text"  data-mask="(00) 0000-0000"
								value="{{ object.phone | default_if_none:'' }}" disabled>
							{% else %}
								{{ form.phone | as_crispy_field }}
							{% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Endereços -->
		{% client_html_obj_disable is_details as disabled %}
    <div class="row pb-3">
      <div class="card">
        <h5 class="card-header">Endereços</h5>
        <div class="card-body">
          <div class="row">

            <div class="form-group col-md-2">
              <label>CEP:</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" data-mask="00000-000" placeholder="00000-000"
                id="id_cep" name="cep" value="{{ object.cep | default_if_none:'' }}"
								required {{ disabled }}>
                <button class="btn btn-primary" type="button" id="search_cep" {{ disabled }}>
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="address">Logradouro:</label>
							{% if is_details %}
								<input class="form-control" type="text" value="{{ object.address | default_if_none:'' }}" {{ disabled }}>
							{% else %}
								{{ form.address | as_crispy_field }}
							{% endif %}
            </div>

            <div class="form-group col-md-1">
              <label>Número:</label>
							{% if is_details %}
								<input class="form-control" type="text" value="{{ object.number_address | default_if_none:'' }}" {{ disabled }}>
							{% else %}
								{{ form.number_address | as_crispy_field }}
							{% endif %}
            </div>

            <div class="form-group col-md-2">
              <label>Complemento:</label>
							{% if is_details %}
								<input class="form-control" type="text" value="{{ object.complement_address | default_if_none:'' }}" {{ disabled }}>
							{% else %}
								{{ form.complement_address | as_crispy_field }}
							{% endif %}
            </div>


            <div class="form-group col-md-3">
              <label>Cidade:</label>
							{% if is_details %}
								<input class="form-control" type="text" value="{{ object.city | default_if_none:'' }}" {{ disabled }}>
							{% else %}
								{{ form.city | as_crispy_field }}
							{% endif %}
            </div>

          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <label>Bairro:</label>
							{% if is_details %}
								<input class="form-control" type="text" value="{{ object.district | default_if_none:'' }}" {{ disabled }}>
							{% else %}
								{{ form.district | as_crispy_field }}
							{% endif %}
            </div>

            <div class="form-group col-md-2">
              <label for="state">Estado:</label>
              {% if is_details %}
								<select class="form-select" {{ disabled }}>
									<option value="{{ object.state | default_if_none:'' }}" selected>
										{{ object.get_state_display }}
									</option>
								</select>
              {% else %}
								{{ form.state | as_crispy_field }}
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <h5 class="card-header">{% trans 'Observações' %}</h5>
        <div class="card-body">
          <div class="form-group col">
						{% if is_details %}
							<textarea class="form-control clients-form__observations" placeholder="Escreva uma observação para este Cliente"
            	{{ disabled }}>{{ object.obs | default_if_none:'' }}</textarea>
						{% else %}
							{{ form.obs | as_crispy_field }}
						{% endif %}
          </div>
        </div>
      </div>
    </div>


    <!-- Buttons -->
  <div class="row pb-1 pt-4 clients-form__header">
    <div class="col-sm-12">

      {% if not is_details %}

        <button type="submit" class="btn btn-success">
          <i class="fas fa-save"></i> Salvar
        </button>

        {% if object.id %}
          <a class="btn btn-secondary" href="{% url 'client_details' object.id %}">
            <i class="fas fa-ban"></i> Cancelar
          </a>
        {% else %}
          <a class="btn btn-secondary" href="{% url 'client_read' %}">
            <i class="fas fa-ban"></i> Cancelar
          </a>
        {% endif %}

      {% else %}

        <a class="btn btn-primary" href="{% url 'client_read' %}">
          <i class="fas fa-file-alt"></i> Clientes
        </a>

        {% if perms.clients.change_clientmodel %}
          <a class="btn btn-success" href="{% url 'client_update' object.id %}">
            <i class="fas fa-pencil-alt"></i> Editar
          </a>
        {% endif %}

        {% if perms.clients.delete_clientmodel %}
          {% if object.id %}
            <button type="button" class="btn btn-danger clients-btn-delete" data-toggle="modal"
            data-target="#confirmDeleteModal">
              <span data-target="{% url 'client_delete' object.id %}">Deletar</span>
            </button>
          {% endif %}
        {% endif %}

      {% endif %}

    </div>
  </div> <!-- End Buttons -->

  </form>

</div>

<!-- Include Modal View Photo -->
{% include 'clients/modals/photo.html' %}

<!-- Include Modal Delete Record -->
{% include 'clients/modals/delete.html' %}


{% if not is_details %}
  {% include 'clients/modals/cep_not_found.html' %}
{% endif %}

{% endblock %}
