{% extends "base.html" %}
{% load i18n %}
{% load client_tags %}

{% block title %} Tela de Clientes {% endblock %}

{% block head %}{% endblock %}

{% block content %}


<div class="clients-listing">
  <p class="h2 text-center pb-5">{% trans 'Tabela de Clientes' %}<p></p>
  <hr>
  <div class="row clients-listing__header">


    <div class="col-md-3 clients-listing__header-col">
      <form method="GET" class="clients-listing__form-actions">

        {% if perms.clients.add_clientmodel %}
          <a class="btn btn-success" href="{% url 'client_new' %}">
            <i class="fas fa-user-plus"></i> Adicionar
          </a>
        {% endif %}

        <a class="btn btn-primary" href="{% url 'client_read' %}">
          <i class="fas fa-sync"></i> Atualizar
        </a>

      </form>
    </div>


    <div class="col-md-7 clients-listing__header-col">
      <form method="GET">
        <div class="input-group">
          <select name="s_type" class="form-select form-select-sm clients-listing__search-select">
            <option value="id">ID</option>
            <option value="name_corporate">Nome/Razão Social</option>
            <option value="cpf">CPF</option>
            <option value="cnpj">CNPJ</option>
						<option value="email">E-Mail</option>
          </select>
          <input type="text" class="form-control clients-listing__search-input"  name="q"
          data-mask="0000000" placeholder="Digite e aperte Enter" required>
        </div>
      </form>
    </div>


    <div class="col-md-2">
      {% clients_legend as legend %}
      <div class="text-right clients-listing__legend">
        <div class="clients-listing__legend-cpf">
          <i class="fa fa-square" aria-hidden="true"></i>
          {{ legend.cpf }}
        </div>
        <div class="clients-listing__legend-cnpj">
          <i class="fa fa-square" aria-hidden="true"></i>
          {{ legend.cnpj }}
        </div>
      </div>
    </div>
  </div>




  <div class="row clients-listing__data-number-wrapper pt-5">
    <div class="col">
        <form method="GET" class="clients-listing__data-number-form">
          <input type="hidden" name="page" value="">
          <select name="data_number" class="form-select form-select-sm
          clients-listing__data-number" onchange=this.form.submit()>
            <option selected>Qtde Registros</option>
            <option value="10">10 registros</option>
            <option value="25">25 registros</option>
            <option value="50">50 registros</option>
            <option value="100">100 registros</option>
          </select>
        </form>
    </div>
  </div>




  <table id="tbl_listing" class="table table-responsive table-striped table-hover clients-listing__table">

    <thead class="client__thead">
      <tr>
				<th scope="col">Tipo</th>
        <th scope="col">ID</th>
        <th scope="col">Nome/Razão Social</th>
        <th scope="col">CPF/CNPJ</th>
        <th scope="col">E-mail</th>
        <th scope="col">Celular</th>
      </tr>
    </thead>

    <tbody>

      {% for client in object_list %}
				<tr class="tbl_item clickable-row" data-href="{% url 'client_details' client.id %}">
					<td>
						{% if client.client_type == "cpf" %}
							<div class="clients-listing__legend-cpf">
								<i class="fa fa-square" aria-hidden="true"></i>
							</div>
						{% else %}
							<div class="clients-listing__legend-cnpj">
								<i class="fa fa-square" aria-hidden="true"></i>
							</div>
						{% endif %}
					</td>

          <th scope="row">{{ client.id }}</th>

          <td>
            {{ client.name_corporate | title }}
          </td>

          <td>
            {% if client.client_type == "cpf" %}
            <span data-mask="CPF: 000.000.000-00">{{ client.cpf_cnpj }}</span>
            {% else %}
            <span data-mask="CNPJ: 00.000.000/0000-00">{{ client.cpf_cnpj }}</span>
            {% endif %}
          </td>

          <td>
            {{ client.email }}
          </td>

          <td>
            <span data-mask="(00) 00000-0000">{{ client.cell_phone }}</span>
          </td>

        </tr>
    {% endfor %}
    </tbody>

  </table>




{% if object_list.has_other_pages %}
  <nav class="clients-listing__pagination">
    <ul class="pagination pagination-lg justify-content-center">

      <li class="page-item clients-listing__pagination-btn">
        {% if object_list.has_previous %}
          <a class="page-link" href="?page={{ object_list.previous_page_number }}&data_number={{ data_number }}"
          tabindex="-1">Anterior</a>
        {% else %}
          <a class="page-link disabled">Anterior</a>
        {% endif %}
      </li>

      <li class="page-item clients-listing__pagination-text">
        <span class="page-link">
          {{ object_list.number }}
        </span>
      </li>

      <li class="page-item clients-listing__pagination-text">
        <span class="page-link">
          de
        </span>
      </li>

      <li class="page-item clients-listing__pagination-text">
        <span class="page-link">
          {{ object_list.paginator.num_pages }}
        </span>
      </li>

      <li class="page-item clients-listing__pagination-btn">
        {% if object_list.has_next %}
          <a class="page-link" href="?page={{ object_list.next_page_number }}&data_number={{ data_number }}">Próximo</a>
        {% else %}
          <a class="page-link disabled">Próximo</a>
        {% endif %}
      </li>

    </ul>
  </nav>
  {% endif %}


{% if not object_list %}
  <p class="h4 font-weight-light clients-listing__not_found_text text-center">Sem registro.</p>
{% endif %}

</div>

{% endblock %}
