{% extends "base.html" %}

{% block title %} Listing {% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div class="person-form">
  <form method="POST" id="form_client" enctype="multipart/form-data">

    <!-- Button -->
    <div class="row person__header">
      <div class="col-sm-12">
        <a class="btn btn-sm btn-primary" href="{% url 'person_read' %}">
          <i class="fas fa-arrow-left"></i> Back to list
        </a>
      </div>
    </div>

    <!-- Table -->
    <table class="table table-sm table-responsive-sm person-form__table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">
          Details registry
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><label for="id_id">ID</label></th>
          <td>
            <input class="person-form__input-entry person-form__input-id person-form__input-details" type="text" id="id_id" name="id"
            value="{{ object.id }}"
            maxlength="8" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <th><label for="id_photo">Photo</label></th>
          <td>
            <a href="#" class="person-listing__photo-open">
              <img id="person-listing__photo-thumb" class="person-listing__photo-thumb"
              src="{{ media_url }}{{ object.photo }}" align="center" width="24"/>
            </a>
          </td>
        </tr>
        <tr>
          <th><label for="id_name">Name</label></th>
          <td>
            <input class="person-form__input-entry person-form__input-details" type="text" id="id_name" name="name"
            value="{{ object.name | title }}"
            maxlength="70" disabled>
          </td>
        </tr>
        <tr>
          <th><label for="id_cpf">CPF</label></th>
          <td>
            <input class="person-form__input-entry person-form__input-details" type="text"
            data-mask="000.000.000-00" id="id_ssa" name="cpf"
            value="{{ object.cpf }}" maxlength="15"
            placeholder="Only number" disabled>
          </td>
        </tr>
        <tr>
          <th><label for="id_city">City</label></th>
          <td>
            <input class="person-form__input-entry person-form__input-details" type="text" id="id_city" name="city"
            value="{{ object.city | title }}"
            maxlength="30" disabled>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
  </form>
</div>


<!-- Include Modal View Photo -->
{% include 'person/modals/photo.html' %}

{% endblock %}