{% extends "base.html" %}

{% block title %} Formulary {% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div class="person-form">
  <form method="POST" id="form_client" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row person__header">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-success btn-sm">
          <i class="fas fa-save"></i> Save
        </button>
        {% if object.id %}
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
        data-target="#confirmDeleteModal">
          Delete
        </button>
        {% endif %}
        <a class="btn btn-secondary btn-sm" href="{% url 'person_read' %}">
          <i class="fas fa-ban"></i> Cancel
        </a>
      </div>
    </div>
    <table class="table table-sm table-responsive-sm person-form__table">
      <thead>
        <tr>
          <th scope="col">Person</th>
          <th scope="col">
          New registry
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><label for="id_id">ID</label></th>
          <td>
            <input class="person-form__input-entry" type="text" id="id_id" name="id"
            value="{{ object.id }}"
            maxlength="70" required disabled>
            </div>
          </td>
        </tr>
        <tr>
          <th><label for="id_photo">Photo</label></th>
          <td>
            <div class="float-left mb-3">
              Currently:
              <img class="person-form__photo-thumb"
              src="{% if object.photo %}{{ media_url }}{{ object.photo }}{% endif %}" alt="" width="32">
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="custom-file person-form__choose-file">
                <input class="custom-file-input" type="file" accept="images/*" name="photo" id="id_photo">
                <label class="custom-file-label person-form__choose-file-label" for="id_photo">Choose file</label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th><label for="id_name">Name</label></th>
          <td>
            <input class="person-form__input-entry" type="text" id="id_name" name="name"
            value="{% if object.name %}{{ object.name | title }}{% endif %}"
            maxlength="70" required>
          </td>
        </tr>
        <tr>
          <th><label for="id_cpf">CPF</label></th>
          <td>
            <input class="person-form__input-entry" type="text"
            data-mask="000.000.000-00" id="id_cpf" name="cpf"
            value="{% if object.cpf %}{{ object.cpf }}{% endif %}" maxlength="15"
            placeholder="Only number" required>
          </td>
        </tr>
        <tr>
          <th><label for="id_city">City</label></th>
          <td>
            <input class="person-form__input-entry" type="text" id="id_city" name="city"
            value="{% if object.city %}{{ object.city | title }}{% endif %}"
            maxlength="30" required>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
  </form>


</div>

{% endblock %}