{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block head %}{% endblock %}

{% block content %}
{% load static %}
<main class="text-center form-signin">
  <form method="POST" novalidate>
    {% csrf_token %}
    <img class="mb-4 rounded-circle" src="{% static 'images/logo.svg' %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Por favor, inscreva-se</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username" autocapitalize="none" autocomplete="username" maxlength="150" required>
      <label for="floatingInput">Nome do usuário</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="current-password" required>
      <label for="floatingPassword">Senha</label>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
      <a href="" class="btn btn-link">Esqueceu sua senha?</a>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
  </form>
</main>

<!-- <div class="login">
<div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center login__title">Log in</h2>
          <form method="POST" novalidate>
            {% csrf_token %}
            <div class="login__username">
              <label class="login__label" for="id_username">Username:</label>
              <input class="login__input" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required>
            </div>
            <div class="login__password"></div>
              <label class="login__label" for="id_password">Password:</label>
              <input class="login__input" type="password" name="password" autocomplete="current-password" required>
            </div>
            <button type="submit" class="btn btn-primary login__btn">Log in</button>
            <a href="" class="btn btn-link">Forgot your password?</a>
          </form>
        </div>
      </div>
    </div>
  </div> -->
<!-- </div> -->
{% endblock %}