{% extends 'base.html' %}

{% block title %} Tela de alteração de senha{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-body">

          <h2 class="text-center">Alteração de senha</h2>

          {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.old_password.errors }}
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
          </div>
          {% endif %}

          <form method="POST">
            {% csrf_token %}

            <div class="form-group pb-3">
              <label for="id_old_password">Senha antiga</label>
              <input type="password" name="old_password" id="id_old_password" class="form-control"
              id="old_password" placeholder="Senha antiga" required>
            </div>

            <div class="form-group pb-3">
              <label for="id_new_password">Nova senha</label>
              <input type="password" name="new_password1" id="id_new_password" class="form-control"
              id="new_password" placeholder="Nova senha" required>
              <small id="passwordHelp" class="form-text text-muted">
                <ul>
                  <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                  <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                  <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                  <li>Sua senha não pode ser inteiramente numérica.</li>
                </ul>
              </small>
            </div>

            <div class="form-group pb-3">
                <label for="id_new_password2">Confirmar senha</label>
                <input type="password" name="new_password2" id="id_new_password2" class="form-control"
                id="new_password1" placeholder="Confirmar senha" required>
              </div>

            <button type="submit" class="btn btn-primary" id="id_signup">Enviar</button>

          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
