// Overwrite
.btn {
  outline: none !important;
  &:focus, &:visited, &:active {
    box-shadow: none !important;
  }
}

select {
  cursor: pointer;
}

.card {
  border-radius: 10px;
  border: 1px solid #bebebe;
}
