{% extends "base.html" %}

{% block title %} Formulary {% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div class="clients-form">
  <form method="POST" id="form_client" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Buttons -->
    <div class="row pb-1 clients-form__header">
      <div class="col-sm-12">
        {% if not is_details %}
        <button type="submit" class="btn btn-outline-success">
          <i class="fas fa-save"></i> Save
        </button>
        {% if object.id %}
        <button type="button" class="btn btn-outline-danger clients-btn-delete" data-toggle="modal"
        data-target="#confirmDeleteModal">
          <span data-target="{% url 'client_delete' object.id %}">Delete</span>
        </button>
        {% endif %}
        <a class="btn btn-outline-secondary" href="{% url 'client_read' %}">
          <i class="fas fa-ban"></i> Cancel
        </a>
        {% else %}
        <a class="btn btn-outline-primary" href="{% url 'client_read' %}">
          <i class="fas fa-arrow-left"></i> Back to list
        </a>
        {% endif %}

      </div>
    </div>

    <hr/>
    <div class="row">
      {% if object.id %}
      <div class="form-group col-md-2">
        <label for="id">ID</label>
        <input type="text" class="form-control clients-form__input-entry clients-form__input-id" name="id" value="{{ object.id }}" maxlength="8" disabled>
      </div>
      {% endif %}

      <div class="form-group col-md-5">
        <label for="id">Photo</label>
        <div class="row">
          {% if object.photo %}
          <div class="col-md-1 clients-listing__photo-open">
            <img class="rounded-circle clients-form__photo-thumb"
          src="{{ media_url }}{{ object.photo }}" alt="" width="34" >
          </div>
          {% endif %}
          {% if not is_details %}
          <div class="col-md">
            <input class="form-control" type="file" accept="images/*" name="photo" id="id_photo">
          </div>
          {% endif %}
        </div>

      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-7">
        <label for="name">Nome</label>
        <input class="form-control clients-form__input-entry" type="text" id="id_name" name="name"
            value="{% if object.name %}{{ object.name | title }}{% endif %}"
            maxlength="70" required {% if is_details %} disabled {% endif %}>
      </div>

      <div class="form-group col-md-3">
        <label for="campo2">CNPJ / CPF</label>
        <input class="form-control clients-form__input-entry" type="text"
            data-mask="000.000.000-00" id="id_cpf" name="cpf"
            value="{% if object.cpf %}{{ object.cpf }}{% endif %}" maxlength="15"
            placeholder="Only number" required {% if is_details %} disabled {% endif %}>
      </div>

      <div class="form-group col-md-2">
        <label for="campo3">City</label>
        <input class="form-control clients-form__input-entry" type="text" id="id_city" name="city"
            value="{% if object.city %}{{ object.city | title }}{% endif %}"
            maxlength="30" required {% if is_details %} disabled {% endif %}>
      </div>
    </div>

  </form>
</div>

<!-- Include Modal View Photo -->
{% include 'clients/modals/photo.html' %}

<!-- Include Modal Delete Record -->
{% include 'clients/modals/delete.html' %}

{% endblock %}