{% extends "base.html" %}

{% block title %} Formulary {% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div class="clients-form">
  <form method="POST" id="form_client" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Buttons -->
    <div class="row clients__header">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-success btn-sm">
          <i class="fas fa-save"></i> Save
        </button>
        {% if object.id %}
        <button type="button" class="btn btn-danger btn-sm clients-btn-delete" data-toggle="modal"
        data-target="#confirmDeleteModal">
          <span data-target="{% url 'client_delete' object.id %}">Delete</span>
        </button>
        {% endif %}
        <a class="btn btn-secondary btn-sm" href="{% url 'client_read' %}">
          <i class="fas fa-ban"></i> Cancel
        </a>
      </div>
    </div>

    <!-- Table -->
    <table class="table table-sm table-responsive-sm clients-form__table">
      <thead>
        <tr>
          <th scope="col">Clients</th>
          <th scope="col">
          New registry
          </th>
        </tr>
      </thead>
      <tbody>
        {% if object.id %}
        <tr>
          <th><label for="id_id">ID</label></th>
          <td>
            <input class="clients-form__input-entry clients-form__input-id" type="text" id="id_id" name="id"
            value="{{ object.id }}"
            maxlength="8" disabled>
            </div>
          </td>
        </tr>
        {% endif %}
        <tr>
          <th><label for="id_photo">Photo</label></th>
          <td>
            {% if object.photo %}
            <div class="float-left mb-3 clients-listing__photo-open">
              Currently:
              <img class="clients-form__photo-thumb"
              src="{{ media_url }}{{ object.photo }}" alt="" width="32">
            </div>
            {% endif %}
            <div class="input-group input-group-sm mb-3">
              <div class="custom-file clients-form__choose-file">
                <input class="custom-file-input" type="file" accept="images/*" name="photo" id="id_photo">
                <label class="custom-file-label clients-form__choose-file-label" for="id_photo">Choose file</label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th><label for="id_name">Name</label></th>
          <td>
            <input class="clients-form__input-entry" type="text" id="id_name" name="name"
            value="{% if object.name %}{{ object.name | title }}{% endif %}"
            maxlength="70" required>
          </td>
        </tr>
        <tr>
          <th><label for="id_cpf">CPF</label></th>
          <td>
            <input class="clients-form__input-entry" type="text"
            data-mask="000.000.000-00" id="id_cpf" name="cpf"
            value="{% if object.cpf %}{{ object.cpf }}{% endif %}" maxlength="15"
            placeholder="Only number" required>
          </td>
        </tr>
        <tr>
          <th><label for="id_city">City</label></th>
          <td>
            <input class="clients-form__input-entry" type="text" id="id_city" name="city"
            value="{% if object.city %}{{ object.city | title }}{% endif %}"
            maxlength="30" required>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
  </form>
</div>

<!-- Include Modal View Photo -->
{% include 'clients/modals/photo.html' %}

<!-- Include Modal Delete Record -->
{% include 'clients/modals/delete.html' %}

{% endblock %}