{% extends "base.html" %}

{% block title %} Listing {% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div class="clients-listing">
  <div class="row clients-listing__header">
    <!-- Buttons -->
    <div class="col-md-4 clients-listing__header-col">
      <form method="GET" class="clients-listing__form-actions">
        {% if perms.app_name.add_clientmodel %}
        <a class="btn btn-outline-success" href="{% url 'client_new' %}">
          <i class="fas fa-user-plus"></i> Add
        </a>
        {% endif %}
        <a class="btn btn-outline-primary" href="{% url 'client_read' %}">
          <i class="fas fa-sync"></i> Refresh
        </a>
      </form>
    </div>
    <!-- Search -->
    <div class="col-md-8 clients-listing__header-col">
      <form method="GET">
        <div class="input-group">
          <select name="s_type" class="form-select form-select-sm clients-listing__search-select">
            <option value="id">ID</option>
            <option value="name">Name</option>
            <option value="cpf">CPF</option>
            <option value="cnpj">CNPJ</option>
          </select>
          <input type="text" class="form-control clients-listing__search-input"  name="q" data-mask="0000000" placeholder="Write the information and press Enter">
        </div>
      </form>
    </div>
  </div>

  <!-- Selector -->
  <div class="row clients-listing__data-number-wrapper pt-5">
    <div class="col">
        <form method="GET" class="clients-listing__data-number-form">
          <input type="hidden" name="page" value="">
          <select name="data_number" class="form-select form-select-sm
          clients-listing__data-number" onchange=this.form.submit()>
            <option selected>Select</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </form>
    </div>
  </div>

  <!-- Table -->
  <table id="tbl_listing" class="table table-responsive table-striped table-hover clients-listing__table">
    <thead class="client__thead">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Endereço</th>
        <th scope="col">Cell</th>
        <th scope="col">Phone</th>
        <th scope="col">CPF</th>
        <th scope="col">CNPJ</th>
        <th scope="col">RG</th>
        <th scope="col">City</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for client in object_list %}
      <tr class="tbl_item">
        <th scope="row">{{ client.id }}</th>
        {% if client.photo %}
        <td>
          <div class="clients-listing__photo-open">
            <img id="clients-listing__photo-thumb" class="rounded-circle clients-listing__photo-thumb"
            src="{{ media_url }}{{ client.photo }}" width="24" />
          </div>
        </td>
        {% endif %}
        <td>
          {{ client.name | title }}
        </td>
        <td>
          {{ client.email }}
        </td>
        <td>
          {{ client.address }}
        </td>
        <td>
          {{ client.cell_phone }}
        </td>
        <td>
          {{ client.phone }}
        </td>
        <td>
          <span data-mask="000.000.000-00">{{ client.cpf }}</span>
        </td>
        <td>
          <span data-mask="00.000.000/0000-00">{{ client.cnpj }}</span>
        </td>
        <td>
          {{ client.rg }}
        </td>
        <td>
          {{ client.city | title }}
        </td>
        <td>
          {% if perms.app_name.change_clientmodel %}
          <a class="fas fa-pencil-alt clients-listing__btns" href="{% url 'client_update' client.id %}"></a>
          {% endif %}
          <a class="fas fa-file-alt clients-listing__btns" href="{% url 'client_details' client.id %}"></a>
          {% if perms.app_name.delete_clientmodel %}
          <a href="" class="clients-listing__btn-delete clients-btn-delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
            <span class="fas fa-trash-alt clients-listing__btns" data-target="{% url 'client_delete' client.id %}"></span>
          </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

<!-- Paginator -->
{% if object_list.has_other_pages %}
  <nav class="clients-listing__pagination">
    <ul class="pagination pagination-lg justify-content-center">
      <li class="page-item clients-listing__pagination-btn">
      {% if object_list.has_previous %}
        <a class="page-link" href="?page={{ object_list.previous_page_number }}&data_number={{ data_number }}"
        tabindex="-1">Previous</a>
      {% else %}
        <a class="page-link disabled">Previous</a>
      {% endif %}
      </li>
      <li class="page-item clients-listing__pagination-text">
        <span class="page-link">
          {{ object_list.number }}
        </span>
      </li>
      <li class="page-item clients-listing__pagination-text">
        <span class="page-link">
          of
        </span>
      </li>
      <li class="page-item clients-listing__pagination-text">
        <span class="page-link">
          {{ object_list.paginator.num_pages }}
        </span>
      </li>
      <li class="page-item clients-listing__pagination-btn">
        {% if object_list.has_next %}
          <a class="page-link" href="?page={{ object_list.next_page_number }}&data_number={{ data_number }}">Next</a>
        {% else %}
          <a class="page-link disabled">Next</a>
        {% endif %}
      </li>
    </ul>
  </nav>
  {% endif %}

<!-- No results -->
{% if not object_list %}
  <p class="font-weight-bold clients-listing__not_found_text">No results</p>
{% endif %}

</div> <!-- End clients-listing -->


<!-- Include Modal View Photo -->
{% include 'clients/modals/photo.html' %}

<!-- Include Modal Delete Record -->
{% include 'clients/modals/delete.html' %}

{% endblock %}