{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block head %}{% endblock %}

{% block content %}
{% load static %}
<main class="text-center form-signin">
  <form method="POST" novalidate>
    {% csrf_token %}
    <img class="mb-4 rounded-circle" src="{% static 'images/logo.svg' %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Por favor, conecte-se</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username" autocapitalize="none" autocomplete="username" maxlength="150" required>
      <label for="floatingInput">Usuário</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="current-password" required>
      <label for="floatingPassword">Senha</label>
    </div>
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
      <a href="" class="btn btn-link">Esqueceu sua senha?</a>
    </div> -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
  </form>
</main>

{% endblock %}