<div class="modal fade clients-modal-delete" id="confirmDeleteModal" tabindex="-1"
  role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="clients-model-delete__form" action="" method="POST"
        enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">
              Do you really want to delete record?
            </h5>
          </div>
          {% if object.id %}
          <div class="modal-body m-4">
            <div class="row clients-modal-delete__info">
              <label for="">ID: </label>
              <p>{{ object.id }}</p>
            </div>
            <div class="row clients-modal-delete__info">
              <label for="">Name: </label>
              <p>{{ object.name | title }}</p>
            </div>
          </div>
          {% endif %}
          <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-danger">
              Delete
            </button>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
</div>