{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="sign-up">
  <div class="sign-up__header">
    <p class="h2 text-center"> Registrar-se</p>
  </div>
  <div class="sign-up__body">
    {% crispy form %}
		{{ form.errors }}
  </div>
</div>

<!--
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="card">
        <div class="card-body">

          <h2 class="text-center">Inscrever-se</h2>

          <form method="POST">
            {% csrf_token %}

            <div class="form-group pb-3">
              <label for="id_email">Username/E-mail</label>
              <input type="email" name="username" id="id_email" class="form-control" aria-describedby="emailHelp"
              placeholder="Enter email" required>
              <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu e-mail com mais ninguém.</small>
              {% if form.username.errors %}
                <small class="form-text text-danger">{{ form.username.errors }}</small>
              {% endif %}
            </div>

            <div class="form-group pb-3">
              <label for="id_first_name">Primeiro nome</label>
              <input type="text" name="first_name" id="id_first_name" class="form-control"
              placeholder="First name" maxlength="30">
              {% if form.first_name.errors %}
                <small class="form-text text-danger">{{ form.first_name.errors }}</small>
              {% endif %}
            </div>

            <div class="form-group pb-3">
              <label for="id_last_name">Ultimo nome</label>
              <input type="text" name="last_name" id="id_last_name" class="form-control"
              placeholder="First name" maxlength="30">
              {% if form.last_name.errors %}
                <small class="form-text text-danger">{{ form.last_name.errors }}</small>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="id_password1">Senha</label>
              <input type="password" name="password1" id="id_password1" class="form-control"
              id="exampleInputPassword1" placeholder="Password" required>
              {% if form.password1.errors %}
                <small class="form-text text-danger">{{ form.password1.errors }}</small>
              {% endif %}
              <small id="passwordHelp" class="form-text text-muted">
                <ul>
                  <li>Sua senha deve conter pelo menos 8 caracteres.</li>
                  <li>Sua senha não pode ser uma senha comumente usada.</li>
                  <li>Sua senha não pode ser totalmente numérica.</li>
                </ul>
              </small>
            </div>

            <div class="form-group pb-3">
              <label for="id_password2">Confirmar senha</label>
              <input type="password" name="password2" id="id_password2" class="form-control"
              id="exampleInputPasswordConfirm1" placeholder="Password" required>
              {% if form.password2.errors %}
                <small class="form-text text-danger">{{ form.password2.errors }}</small>
              {% endif %}
            </div>

            <button type="submit" class="btn btn-primary" id="id_signup" >Enviar</button>
          </form>

        </div>
      </div>
    </div>
  </div> -->

{% endblock %}
